option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: cloud
    JAVA_OPTS: "-Xmx512m -Xms256m"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /actuator/health
    Port: 5000
    HealthCheckInterval: 30
    HealthCheckTimeout: 5
    UnhealthyThresholdCount: 5
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro